#root {
  --gray-0: #fafafa;
}

/* home */
.Porfolio_link:hover::before {
  content: "😼.";
}

.Work_link:hover::before {
  content: "🤺.";
}

.Creativity_link:hover::before {
  content: "💡.";
}

.HomePage_content {
}

.HomePage_content_head {
}

.Introduce {
}

.Introduce>.myself {
}

.vc {
}

.myname {
}

.blue {
}

.about {
  @apply text-white text-base uppercase py-0 px-8 grid;
  grid-template-rows: auto 64px;
}

.about-describe {
  @apply border-b border-white grid items-end;
}

.about-describe p {
  @apply mb-8;
}

.about-linkCoord {
  @apply text-sm flex justify-between items-center;
}

.about-linkCoord a {
  @apply text-white ;
}

/* item */
.cursor {
  @apply absolute top-1/2 left-1/2 bg-cover;
  width: 600px;
  height: 400px;
  /* transform: translate(-50%,-50%); */
  margin: -100px 0 0 -100px;
  background: no-repeat 50% 50%;
  z-index: 0;
}

.cursor img {
  @apply  opacity-0 absolute w-full h-full;
}

.item {
  @apply border-b border-gray-300 flex justify-between items-center border-b border-gray-900;
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: #fff;
  /* 背景混合 */
  mix-blend-mode: difference;
}

.item-title{
  @apply text-4xl font-bold mb-4 relative inline-block;
  /* mix-blend-mode: difference; */
}

.item-categ {
  font-weight: lighter;
}

.imgtrue {
  opacity: 1;
}

.imgfalse {
  opacity: 0;
}